.equipment-page-title h3 {
  font-size: 42;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text);
}

.equipment-page-head {
  background-color: var(--backgroud-color);
}

.equipment-page-horizontal-line {
  color: var(--secondary-text);
}

.equipment-cpu-image {
  width: 100%;
  height: 400px;
}

.equipment-cpu-text h5 {
  font-size: 24px;
  font-weight: 400px;
  color: var(--secondary-text);
}

.equipment-cpu-text h4 {
  font-size: 32px;
  font-weight: 400px;
  color: var(--primary-text);
}

.equipment-cpu-text p {
  font-size: 16px;
  font-weight: 400px;
  color: var(--secondary-text);
}

.equipment-cpu-links a {
  color: var(--primary-yellow);
  text-decoration: none;
}

.equipment-specifications-image {
  width: 100%;
}

.equipment-page-head {
  background-color: #111;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.equipment-page-title {
  padding: 35px 0;
}

.equipment-page-title h3 {
  color: var(--primary-text);
  font-size: 28px;
  font-weight: 400;
}

.specifications-content {
  padding: 24px;
}

.section-container {
  margin-bottom: 40px;
}

.specific-title {
  font-size: 24px;
  color: var(--primary-text);
  margin-bottom: 16px;
}

.section-divider {
  border: none;
  border-top: 2px solid #c0ff01;
  margin-bottom: 16px;
}

.spec-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 12px 0;
  border-bottom: 1px solid var(--secondary-text);
  align-items: start;
}

.spec-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--secondary-text);
  font-size: 14px;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.spec-value {
  color: var(--primary-text);
  font-size: 16px;
  white-space: pre-line;
  text-align: left;
}
.equipment-specification-container{
  margin-left: 80px;
}