:root {
  --backgroud-color: #141414;
  --card-backgroud-color: #202020;
  --primary-text:#f5f5f5;
  --secondary-text:#9a9a9a;
  --footer-bg:#1b1b1b;
  --primary-yellow:#c0ff01;
  --white-color:#fff;
  --nav-link-color:#50980a;
  --text-color: #CCCCCC;
}


